*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header
{
    width: 100%;
}
.header .top_header
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 10px 10px; */
    color: #fff;
    background: #232323;
    height: 40px;
}

.header .top_header .info p
{
    margin-left: 10px;
    padding: 6px;
}
.header .top_header .user{
    display: flex;
}
.header .top_header .user .btn button{
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.header .top_header .user .icon{
    color: #fff;
    padding: 4px;
}
.header .last_header{
    margin-top: 20px;
}
.header .last_header .logo img
{
    cursor: pointer;
    object-fit: cover;
}
.header .last_header .search_box{
    margin-right: 30px;
}
.header .last_header .search_box button{
    font-size: 20px;
    background-color: #eee;
    margin: 3px;
    /* background-color: #cd1e76; */
}
/* .header .last_header .search_box input
{
    padding: 10px 10px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    border: none;
    background: #f6f7f8;
    visibility: hidden;
}
.header .last_header .search_box button
{
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    width: 50px;
    background: #cd1e76;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}
.header .mid_header .search_box button:hover
{
    background: #fed700;
    color: #cd1e76;

} */
.header .last_header
{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    color: #232323;
    /* background: #232323; */
    justify-content: space-between;
}
/* .header .last_header .user_profile
{
    display: flex;
    margin-top: 10px;
}

.header .last_header .user_profile .info
{
    margin-left: 10px;
}
.header .last_header .user_profile .info h2
{
    color: #fff;
    font-size: 18px;
} */
.header .last_header .user_profile .info p
{
    /* color: #ababab; */
    font-size: 14px;
}
.header .last_header .nav
{
    margin-top: 15px;
}
.header .last_header .nav ul
{
    display: flex;
}
.header .last_header .nav ul li
{
    list-style: none;
}
.header .last_header .nav ul li .link
{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: 0.5s;
}
.header .last_header .nav ul li .link:hover
{
    color: #cd1e76;
}
